/* Add your CSS below */

/* Example: adding a background color to the HTML body */
body {
  padding-top: 10px;
  text-align: center;
  font: 20px Arial;
  margin: 10px;
  margin-left: 135px;
  margin-right: 135px;
}

ul {
  margin: 10px;
  overflow: hidden;
  list-style-type: none;
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: #FDFEFE;
  text-align: center;
  padding: 5px 90px;
  text-decoration: none;
  background: #424949;
}

h1 {
    margin: 10px;
}

h2 {
  text-align: center;
  margin: 20px;
  color: #424949;
  font: bold 25px Arial;
}

/* Fixed width container */
.container {
    width: 900px;
    margin: 0 auto;
}

header {
  font: bold 25px Arial;
  text-align: center;
  color:#FFFFFF;
  width: 900px;
  background: #424949;
}

nav {
  font:10px;
  background: #424949;
}

.instructions img {
  float: left;
  margin-right: 10px;
  margin: 10px;
}

p {
  margin: 10px;
  color: #424949;
  text-align:left;
  font: 20px Arial;
}

.content section {
    padding: 1em;
    flex: 1 1 25%;
    width: 25%;
}
