/* Add your CSS below */

/* Example: adding a background color to the HTML body */
body {
  padding-top: 10px;
  font: 20px Arial;
  margin: 10px;
  margin-left: 200px;
  margin-right: 190px;
}

ul {
  margin: 10px;
  overflow: hidden;
  list-style-type: none;
}

li {
  float: left;
}

li a {
  display: block;
  color: #FDFEFE;
  text-align: center;
  padding: 5px 90px;
  text-decoration: none;
}

li a:hover {
  background-color: #424949;
}

section {
  color: #FFFFFF;
}

h1, p {
    margin: 10px;
}

h2 {
  text-align: center;
  margin: 20px;
  color: #424949;
  font: bold 30px Arial;
}

/* Fixed width container */
.container {
    width: 900px;
    margin: 0 auto;
}

header {
  font: bold 25px Arial;
  text-align: center;
  color:#FFFFFF;
  background: #424949;
}

nav {
  font:20px;
  background: #424949;
}

h3{
  margin: 10px;
  text-align:left;
  color: #424949;
  font: bold 20px Arial;
}

p {
  color: #424949;
  text-align:left;
  font: 15px Arial;
}

.content section {
    padding: 1em;
    flex: 1 1 25%;
    width: 25%;
}
