body {
  background: black;
  text-align:center;
  color: white;
  font-size: 1em;
  font-family:sans-serif;
}

nav {

}

h1 {
  background: black;
  text-align:center;
  font-size: 15ft;
  font-family: serif;
}


}
